.auth-eye-btn {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: rgba(238, 247, 243, 0.85) !important;
    cursor: pointer !important;
    padding: 0 0 0 12px !important;
  }


.mui-confirm-btn {
  background-color: #1976d2; /* MUI primary */
  color: white;
  margin-left: 14px;
  padding: 10px 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.mui-confirm-btn:hover {
  background-color: #1565c0;
}

.mui-cancel-btn {
  margin-left: 14px;
  background-color: #e0e0e0;
  color: #000;
  padding: 10px 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.mui-cancel-btn:hover {
  color: white;
  background-color: #1565c0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
